<%- include ('header') -%>
    <ul class="navbar-nav ml-auto mt-10">
        <!-- <li class="nav-item">
            <a class="nav-link login-button" href="login.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link login-button" href="user-profile.html">Edit Profile</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link text-white add-button" href="ad-orders.html"><i class="fa fa-plus-circle"></i> Add
                Orders</a>
        </li>
    </ul>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </section>
    <!--==================================
=            User Profile            =
===================================-->
    <section class="call-to-action overly bg-5 section-sm">
        <!-- Container Start -->
        <div class="container">
            <div class="row justify-content-md-center text-center">
                <div class="col-md-7">
                    <div class="content-holder">
                        <!-- <h2>Join us get more exposure and
                        grow your business</h2> --><br><br><br>
                        <!-- <ul class="list-inline mt-30">
                        <li class="list-inline-item"><a class="btn btn-secondary" href="about-us.html">About Us</a></li>
                        !-- <li class="list-inline-item"><a class="btn btn-secondary" href="contact-us.html">Contact
                                Us</a></li> -->
                        <!-- </ul>  -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->

            <div class="row">
                <div class="col-md-10 offset-md-60 col-lg-40 offset-lg-60">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                    <h2>CURRENT ORDERS </h2>
                    <% for (var i=0; i<orders.length; i++) { %>
                        <!-- <h2 class="widget-header">ORDER - 1</h2> -->
                        <table class="table table-responsive product-dashboard-table">
                            <tr>
                                
                                <th rowspan="">Order <%= i + 1%></th>
                                <th>
                                    <td class="action" data-title="Action">
                                        <div class="">
                                            <ul class="list-inline justify-content-center">
                                                <button type="submit" class="button1"><i class="fa fa-pencil"></i></button>
                                            </ul>
                                        </div>
                                    </td>
                                </th>
                            </tr>
                        </table>
                            <table class="table table-responsive product-dashboard-table">
                                <td class="product-details">
                                    <span class=""><strong>Order ID:</strong>
                                        <%= orders[i]['Order_ID']%>
                                    </span><br>
                                    <span><strong>Order Date: </strong><time>
                                            <%= orders[i]['Order_Date']%>
                                        </time></span><br>
                                    <span class=""><strong>Order Amount:</strong>
                                        <%= orders[i]['Amount']%>
                                    </span><br>
                                    <span class=""><strong>Name: </strong>
                                        <%= customers[i]['Name']%>
                                    </span><br>
                                    <span class="location"><strong>Address: </strong>
                                        <%= orders[i]['Delivery_Address']%>
                                    </span><br>
                                    <span class="status active"><strong>Order Status: </strong>
                                        <%= orders[i]['Order_Status']%>
                                    </span><br>
                                    <span class=""><strong>Payment Mode: </strong>
                                        <%= payment[i]['Payment_Mode']%>
                                    </span><br>
                                    <span class=""><strong>Payment Date: </strong><time>
                                            <%= payment[i]['Payment_Date']%>
                                        </time></span>
                                </td>
                            </table>
                        
                        <table class="table table-responsive product-dashboard-table">
                            <tr>
                                <td class="product-details">
                                    <h3 class="title">
                                        <%= order_item[i]['Type']%>
                                    </h3>
                                    <span class="add-id"><strong>Item ID:</strong>
                                        <%= order_item[i]['Item_ID']%>
                                    </span><br>

                                    <span class="add-id"><strong>Item Price:</strong>
                                        <%= order_item[i]['Price']%>
                                    </span><br>
                                </td>
                                <td class="action" data-title="Action">
                                    <div class="">
                                        <ul class="list-inline justify-content-center">
                                            <button type="submit" class="button1"><i
                                                    class="fa fa-trash"></i></button>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================
=            Footer            =
=============================-->

    <%- include ('footer') -%>