<%- include("includes/header") -%>
    <ul class="navbar-nav ml-auto mt-10">
        <!-- <li class="nav-item">
            <a class="nav-link login-button" href="login.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link login-button" href="user-profile.html">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Add
                Items</a>
        </li> -->
    </ul>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </section>

    <section class="ad-post bg-gray py-5">
        <div class="container">
            <form action='/edit-orders.html' method="POST">
                <!-- Post Your ad start -->
                <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Add Order</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Order ID:</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize" name="oid" id="oid"
                                value="<%= order[0]['Order_ID'] %>" readonly>

                            <!-- <h6 class="font-weight-bold pt-4 pb-1">Order Date:</h6>
                            <input type="date" class="border w-100 p-2 bg-white text-capitalize" name="odate" id="odate"
                                value="<%= order[0]['Order_Date'] %>"> -->

                            <h6 class="font-weight-bold pt-4 pb-1">Amount:</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize" name="amt" id="amt"
                                value="<%= order[0]['Amount'] %>" readonly>

                            <h6 class="font-weight-bold pt-4 pb-1">Address:</h6>
                            <textarea name="add" id="add" class="border p-3 w-100" rows="7"
                                placeholder=""><%= order[0]['Delivery_Address'] %></textarea>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Customer Name</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize" name="cname" id="cname"
                                value="<%= order[0]['Name'] %>" readonly>
                            <!-- <button onclick="addCode()">Add Stuff</button> -->
                            <div class="price" id="new">

                                <!-- <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        <input type="text" name="iid" class="border-0 py-2 w-100 price" placeholder="">
                                    </div>
                                </div> -->

                                <h6 class="font-weight-bold pt-4 pb-1">Payment Mode:</h6>
                                <select name="paymode" id="paymode" class="w-100">
                                    <option value="Cash on Delivery">Cash on Delivery</option>
                                    <option value="UPI">UPI</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Debit Card">Debit Card</option>
                                </select>

                                <h6 class="font-weight-bold pt-4 pb-1">Status:</h6>
                                <select name="status" id="status" class="w-100">
                                    <option value="Accepted">Accepted</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Delivered">Delivered</option>
                                </select>

                                <!-- <h6 class="font-weight-bold pt-4 pb-1">Payment Date:</h6>
                                <input type="date" class="border w-100 p-2 bg-white text-capitalize" name="pdate"
                                    id="pdate" value="<%= order[0]['Payment_Date'] %>"> -->

                                <h6 class="font-weight-bold pt-4 pb-1"> New Item ID:</h6>
                                <button type="button" class="button1" onclick="addCode()"><i class="fa fa-plus"></i></button>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        <input type="text" name="iid" class="border-0 py-2 w-100 price" placeholder=""
                                            id="iid">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Post Your ad end -->

                <!-- seller-information start -->

                <!-- seller-information end-->

                <!-- ad-feature start -->
                <!-- ad-feature start -->

                <!-- submit button -->
                <input type="hidden" name="id" id="id" value="<%= order[0]['Order_ID'] %>">
                <button type="submit" class="btn btn-primary d-block mt-2">CHANGE</button>
            </form>
        </div>
    </section>
    <script>
        function addCode() {
            document.getElementById("new").innerHTML += '<div class="row px-3"><div class="col-lg-4 mr-lg-4 rounded bg-white my-2 "><input type="text" name="iid" class="border-0 py-2 w-100 price" placeholder=""></div></div>';
        }
    </script>
    <!--============================
=            Footer            =
=============================-->

    <%- include("includes/footer") -%>